<script setup>
import {computed, onBeforeMount, onMounted, ref, watch} from "vue";
import _ from 'lodash';
import * as echarts from 'echarts';

const APP_ID = 51776859;
const VERSION = "5.131";
const members = ref([])
const groupId = ref("golos_irnitu")
const loading = ref(false);
const chartElementRef = ref();

let chart;
const chartOptions = computed(()=>{
  let girlsCount = members.value.filter(x=>x.sex==1).length;
  let boysCount = members.value.filter(x=>x.sex==2).length;
  let option = {
    tooltip: {
      trigger: 'item'
    },
    legend: {
      top: '5%',
      left: 'center'
    },
    series: [
      {
        name: 'Количество',
        type: 'pie',
        radius: ['40%', '70%'],
        avoidLabelOverlap: false,
        itemStyle: {
          borderRadius: 10,
          borderColor: '#fff',
          borderWidth: 2
        },
        label: {
          show: false,
          position: 'center'
        },
        emphasis: {
          label: {
            show: true,
            fontSize: 40,
            fontWeight: 'bold'
          }
        },
        labelLine: {
          show: false
        },
        data: [
          { value: boysCount, name: 'M' },
          { value: girlsCount, name: 'Ж' },
        ]
      }
    ]
  };
  return option;
})

const fetchMembers= _.debounce(()=>{
  loading.value = true;
  members.value=[];
   // VK.Auth.login()
   VK.Api.call("groups.getMembers", {
    group_id: groupId.value,
    v: VERSION,
    language: "ru",
    fields: "photo_200_orig,sex,city",
    count: 500
  }, r => {
    members.value = r.response.items
    console.log(r)
     loading.value=false;
  })
},300)

watch(chartOptions,()=>{
  chart.setOption(chartOptions.value);
})

onBeforeMount(async () => {
  await VK.init({
    apiId: APP_ID
  });
  fetchMembers();
})
onMounted(()=>{
  chart = echarts.init(chartElementRef.value);
  chart.setOption(chartOptions.value);
})
watch(groupId,()=>{
  console.log("change")
  fetchMembers();
})
</script>

<template>
  <div class="p-2 position-sticky d-flex" style="top: 0">
    <input type="text" v-model="groupId" class="form-control">
    <div v-if="loading" class="spinner-border ms-3" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <div class="items-grid">
    <div v-for="m in members" class="item"
         :class="{girl: m.sex==1,boy: m.sex==2}">
      <img :src="m.photo_200_orig" alt=""/>
    </div>
  </div>
  <div class="position-fixed" style="right: 8px;bottom: 8px; height: 400px; width: 400px; background-color: white;" ref="chartElementRef">
  </div>
</template>

<style scoped>
.items-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 8px;
}
.item img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
</style>
